git+https://github.com/whosonfirst/py-mapzen-whosonfirst-placetypes
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-meta
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-uri
git+https://github.com/whosonfirst/py-mapzen-whosonfirst-sources
requests
shapely
geojson
boto
atomicwrites
